<a href="/" class="item">
  小白学编程
</a>
<a href="/" class="item">首页</a>
<%
if (typeof(navs) !== 'undefined') {
  navs.forEach(function(item) {
%>
<% if (typeof(selectedKey) !== 'undefined' && item.key === selectedKey) { %>
  <a class="item" href="<%= apiPrefix.page %>/<%- item.href %>"><span><%- item.value %></span></a>
<% } else { %>
<a class="item" href="<%= apiPrefix.page %>/<%- item.href %>"><span><%- item.value %></span></a>
<% } %>
<% })} %>
<%- partial('../menu/_cms_menu_items') %>
<%- partial('../menu/_user_menu') %>