<div class="row justify-content-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <h3 class="ui top attached header">
        找回密码
    </h3>
    <div class="ui attached segment">
      <div class='ui form'>
        <div class='field'>
          <label>新密码</label>
          <input type='password' size='30' v-model="password"/>
        </div>
        <div class='field'>
          <label>再新密码</label>
          <input type='password' size='30' v-model="rePassword"/>
        </div>
        <button class="ui button" type="submit" v-on:click="resetPassword()">保存</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var loginname = '<%= typeof(loginname) !== "undefined" && loginname ? loginname : ""%>';
  var key = '<%= typeof(key) !== "undefined" && key ? key : ""%>';
  var lily = new Lily();
  var vm = new Vue({
    el: '#app',
    data: Object.assign({}, lily.options()),
    methods: {
      resetPassword() {
        lily.resetPassword(this);
      }
    }
  });

  vm.key = key;
  vm.loginname = loginname;
</script>
