<div id="app" class="row justify-content-md-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <div class="card">
      <div class="card-header bg-primary text-white">
        找回密码</div>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputName">新密码:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
            </div>
            <input type="password" class="form-control" size="30" placeholder="" v-model="password">
          </div>
        </div>
        <button class="btn btn-primary" v-on:click="onResetPassword">设置</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const loginname = '<%= typeof(loginname) !== "undefined" && loginname ? loginname : ""%>';
  const key = '<%= typeof(key) !== "undefined" && key ? key : ""%>';

  const lily = Lily({
    methods: {
      onResetPassword() {
        if (this.password === '') {
          this.errorMsg = '请输入新密码';
          return;
        }

        if (this.password.length < 6) {
          this.errorMsg = '密码太短';
          return;
        }

        this.errorMsg = '';
        this.successMsg = '';

        axios
          .post(dataPrefix + '/user/resetPassword', {
            key: this.key,
            loginname: this.loginname,
            password: this.password
          })
          .then(this.parse)
          .then((result) => {
            this.password = '';
            this.successMsg = result.message;
          })
          .catch(this.error);
      }
    }
  });

  lily.key = key;
  lily.loginname = loginname;
</script>