<div id="app" class="row justify-content-md-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <div class="card">
      <div class="card-header bg-primary text-white">
        修改密码</div>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputName">当前密码:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
            </div>
            <input type="password" class="form-control" size="30" placeholder="" v-model="oldPassword">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName">新密码:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
            </div>
            <input type="password" class="form-control" size="30" placeholder="" v-model="newPassword">
          </div>
        </div>
        <button class="btn btn-primary" v-on:click="resetPassword">保存</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  const userId = '<%= typeof(userId) !== "undefined" && userId ? userId : ""%>';
  Lily({
    methods: {
      resetPassword() {
        this.errorMsg = '';
        this.successMsg = '';
        axios.post(dataPrefix + '/user/' + userId + '/resetPassword',
          {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword
          })
          .then(this.parse)
          .then(() => {
            this.oldPassword = '';
            this.newPassword = '';
            this.successMsg = '修改成功';
          })
          .catch(this.error)
      }
    }
  });
</script>