<div class="row justify-content-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <h3 class="ui top attached header">
      修改密码
    </h3>
    <div class="ui attached segment">
      <form class='ui form'>
        <div class='field'>
          <label>当前密码</label>
          <input type='password' size='30' v-model="oldPassword"/>
        </div>
        <div class='field'>
          <label>新密码</label>
          <input type='password' size='30' v-model="newPassword"/>
        </div>
        <button class="ui button" type="submit" v-on:click="resetPassword()">保存</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  const userId = '<%= typeof(userId) !== "undefined" && userId ? userId : ""%>';
  Lily({
    methods: {
      resetPassword() {
        this.errorMsg = '';
        this.successMsg = '';
        axios.post(dataPrefix + '/user/' + userId + '/resetPassword',
          {
            oldPassword: this.oldPassword,
            newPassword: this.newPassword
          })
          .then(this.parse)
          .then(function(result) {
            this.oldPassword = '';
            this.newPassword = '';
            this.successMsg = '修改成功';
          }.bind(this))
          .catch(this.error)
      }
    }
  });
</script>
