<div class="row justify-content-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <h3 class="ui top attached header">
      修改密码
    </h3>
    <div class="ui attached segment">
      <form class='ui form'>
        <div class='field'>
          <label>当前密码</label>
          <input type='password' size='30' v-model="oldPassword"/>
        </div>
        <div class='field'>
          <label>新密码</label>
          <input type='password' size='30' v-model="newPassword"/>
        </div>
        <button class="ui button" type="submit" v-on:click="resetPassword()">保存</button>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  var userId = '<%= typeof(userId) !== "undefined" && userId ? userId : ""%>';

  var vue = new Vue({
    el: '#app',
    data: {
      oldPassword: '',
      newPassword: '',
      errorMsg: '',
      successMsg: ''
    },
    methods: {
      resetPassword() {
        vue.errorMsg = '';
        vue.successMsg = '';
        axios.post(dataPrefix + '/user/' + userId + '/resetPassword',
          {
            _csrf: $('#_csrf').val(),
            oldPassword: vue.oldPassword,
            newPassword: vue.newPassword
          })
          .then(function(response) {
            let result = response.data;
            if (result.err) {
              vue.errorMsg = result.err;
              vue.successMsg = '';
              return;
            }

            vue.oldPassword = '';
            vue.newPassword = '';
            vue.successMsg = result.msg;
          })
          .catch((err) => {
            console.log(err);
          })
      }
    }
  });
</script>
