<div class="row justify-content-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <h3 class="ui top attached header">
      找回密码
    </h3>
    <div class="ui attached segment">
      <div class='ui form'>
        <div class='field'>
          <label>电子邮箱</label>
          <input type='text' size='30' v-model="email"/>
        </div>
        <button class="ui button" type="submit" v-on:click="onSubmit">确认</button>
      </div>
    </div>
  </div>
</div>
<script>
  Lily({
    methods: {
      onSubmit: function() {
        axios
          .post(dataPrefix + '/user/createSearchPassword', {
            email: this.email
          })
          .then(this.parse)
          .then(function(result) {
            this.successMsg = result.msg;
          }.bind(this))
          .catch(this.error);
      }
    }
  });
</script>
