<div id="app" class="row justify-content-md-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <div class="card">
      <div class="card-header bg-primary text-white">
        找回密码
      </div>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail">电子邮箱:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
            </div>
            <input type="text" class="form-control" size="30" placeholder="" v-model="email">
          </div>
        </div>
        <button class="btn btn-primary" v-on:click="onSubmit">登录</button>
      </div>
    </div>
  </div>
</div>
<script>
  Lily({
    methods: {
      onSubmit: function () {
        axios
          .post(dataPrefix + '/user/createSearchPassword', {
            email: this.email
          })
          .then(this.parse)
          .then((result) => {
            this.successMsg = result.message;
          })
          .catch(this.error);
      }
    }
  });
</script>