<div id="app" class="row justify-content-md-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <i class="fa fa-sign-in" aria-hidden="true"></i>&nbsp;登录</div>
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail">账号:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-user" aria-hidden="true"></i>
              </div>
            </div>
            <input type="text" class="form-control" size="30" placeholder="" v-model="loginname">
          </div>

        </div>
        <div class="form-group">
          <label for="exampleInputName">密码:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-key" aria-hidden="true"></i>
              </div>
            </div>
            <input type="password" class="form-control" size="30" placeholder="" v-model="password">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleInputName">电子邮箱:</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <i class="fa fa-envelope" aria-hidden="true"></i>
              </div>
            </div>
            <input type="text" class="form-control" size="30" placeholder="" v-model="email">
          </div>
        </div>
        <button class="btn btn-primary" v-on:click="signup">注册</button>
      </div>
    </div>
  </div>
</div>
<script>
  Lily({});
</script>