<div id="app" class="row justify-content-md-center">
  <div class="col-md-6">
    <%- partial('../_notice') %>
    <div class="card">
      <div class="card-header bg-primary text-white">
        <i class="fa fa-sign-in" aria-hidden="true"></i> 登录</div>
      <div class="card-body">
          <% if(signinValid) { %>
          <div class="form-group">
            <label for="exampleInputEmail">账号:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text"><i class="fa fa-user" aria-hidden="true"></i></div>
                </div>
              <input type="text" class="form-control" size="30" placeholder="" v-model="loginname">
            </div>

          </div>
          <div class="form-group">
            <label for="exampleInputName">密码:</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fa fa-key" aria-hidden="true"></i></div>
                  </div>
              <input type="password" class="form-control" size="30" placeholder="" v-model="password">
            </div>
          </div>
          <button class="btn btn-primary" v-on:click="signin">登录</button>
          <% } %>
          <a class="btn btn-primary"  href="/auth/github">Github 登录</a>
          <% if(signinValid) { %>
          <div class="mt-3">
            <a href='<%= apiPrefix.page %>/password/searchFromMail'>通过邮箱找密码?</a>
          </div>
          <% } %>
      </div>
    </div>
  </div>
</div>
<script>
  Lily({});
</script>