<% if (currentUser){ %>
<a class="item" href="<%= apiPrefix.page %>/user/messages">
  <i class="announcement icon"></i><span><%= count %></span>
</a>
<div class="d-none d-lg-inline ui simple dropdown item">
  <%= currentUser.loginname %> <i class="dropdown icon"></i>
  <div class="menu">
    <a class="item" href="<%= apiPrefix.page %>/user/<%= currentUser._id %>/info">我的</a>
    <a class="item" href="<%= apiPrefix.page %>/user/<%= currentUser._id %>/setting">设置</a>
    <a class="item" href="<%= apiPrefix.page %>/password/reset">密码</a>
    <div class="divider"></div>
    <a class="item" v-on:click="signout">退出</a>
  </div>
</div>
<div class="d-inline d-lg-none">
  <a class="item" href="<%= apiPrefix.page %>/user/<%= currentUser._id %>/setting">设置</a>
  <a class="item" href="<%= apiPrefix.page %>/password/reset">密码</a>
  <a class="item" href="<%= apiPrefix.page %>/user/<%= currentUser._id %>/collectPosts">我的收藏</a>
  <a class="item" href="<%= apiPrefix.page %>/user/<%= currentUser._id %>/posts">我的文章</a>
  <div class="divider"></div>
  <a class="item" v-on:click="signout">退出</a>
</div>
<% } else { %>
  <a href="<%= apiPrefix.page %>/signin" class="item">登录</a>
  <% if(signupValid) { %>
  <a href="<%= apiPrefix.page %>/signup" class="item">注册</a>
  <% } %>
<% } %>
<script type="text/javascript">
var vue2 = new Vue({
  el: '#menu',
  methods: {
    signout() {
      axios.post(dataPrefix + '/user/signout')
        .then(function(response) {
          location.href = '/';
        })
        .catch(function(err) {
          console.log(err);
        })
    }
  }
});
</script>