<div id="app" class="col-md-12">
  <p>该社区项目已开源在
    <a href="https://github.com/xugy0926/community">github</a> 上，欢迎大家使用和学习！</p>
  <div class="jumbotron bg-dark text-white">
    <div class="container">
      <h1 class="display-3 d-none d-sm-block">JavaScript</h1>
      <h1 class="display-4 d-sm-none">JavaScript</h1>
      <p>这是一个学习 JavaScript 的社区。</p>
      <p>如果你对 JavaScript 感兴趣，这个社区是你最好的归宿。因为这里很纯，纯到只有 JavaScript。 </p>
      <p>
        <a class="btn btn-outline-light btn-lg" href="https://github.com/xugy0926/words-from-the-heart">Get Started!</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-outline-warning btn-lg" href="/posts">发现</a>
      </p>
    </div>
  </div>
  <br>
  <br>
  <div class="text-center">
    <h2>学编程的正确姿势</h2>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://ws1.sinaimg.cn/large/006tNc79ly1fntc6asp06j30k90digq0.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">持续学习</h5>
            <p class="card-text">互联网基础发展特别快，一天不学就是退步。把编程学习深入到每一天当中。</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://ws2.sinaimg.cn/large/006tNc79ly1fntc6b7z3ij30qo0hsdkp.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">不耻下问</h5>
            <p class="card-text">别人的一句话就能解决你好几天的疑惑，要用各种手段去问问题。解决问题可能比你的脸皮更值钱。</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://ws2.sinaimg.cn/large/006tNc79ly1fntc6cpvntj30rs0ijk6e.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">多写总结</h5>
            <p class="card-text">要输出就得有输入。写总结会倒逼你多看、多思考，这是验证掌握知识点的最佳方式。</p>
          </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
          <img class="card-img-top" src="https://ws4.sinaimg.cn/large/006tNc79ly1fntc6c5el1j313f0qa4qp.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">关注细节</h5>
            <p class="card-text">你或许不是最聪明的，但一定要做一个关注细节的人。高手们对技术细节了如指掌。<a href="https://github.com/xugy0926/some_topic/blob/master/%E7%A8%8B%E5%BA%8F%E5%91%98%E7%9C%9F%E7%9A%84%E9%9C%80%E8%A6%81%E9%AB%98%E6%99%BA%E5%95%86%E5%90%97%EF%BC%9F.md">请参考</a></p>
          </div>
        </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <div class="text-center">
    <h2>初学者的常见问题</h2>
  </div>
  <br>
  <br>
  <div class="card-body <%=config.mdType%>">
    <h4>
      从来没有学过编程，应该从什么编程语言开始？
    </h4>
    <p>
      每种编程语言都有其自身特点，解决的问题以及运用场合也不一样。如果你学习编程是想找到一份工作，学习 JavaScript 是蛮好的选择。</br>
      相对于其他语言，JavaScript 入门更简单一些，而且你能运用极少的 JavaScript的知识就能开发前端页面，从而使你成为一名前端工程师。
    </p>
    <h4>
      我应不应该报一个线下的培训学校？
    </h4>
    <p>
      线下的培训学校参差不齐，对学校的选择要谨慎一些。如果有急于找工作的压力，并且有相对靠谱的培训学校，就可以去试试。</br>
      
      如果对学费有顾虑，或者想挑战一下自己的自学能力，你可以在社区获得大家的帮助。你有问题大家都愿意帮助你。
    </p>
    <h4>
      已经工作 5、6 年了，想转型学编程，能成功吗？
    </h4>
    <p>
      同样学习编程，刚毕业的学生会更有优势，公司在招聘的时候也更倾向招年轻的。

      学习编程这事是越早越好。如果自己有坚定的信念，就应该开始执行。
    </p>
    <h4>
      现在开始学习 JavaScript，并成为一名前端工程师，大概多长时间？
    </h4>
    <p>
      3 - 5个月足以让你找到一份初级工程师的工作。JavaScript 的难度并不大，关键是怎么找到一条最佳路径去学习。</br>
      
      获取最佳路径的方式有很多种，找一个靠谱的培训学校，报名一个靠谱的线上班，加入一个社区，获得社区成员的帮助。
    </p>
  </div>
</div>
