<div id="app" class="row">
  <%- partial('../_notice') %>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-secondary" v-for="(item, index) in zones" v-on:click="onSelectedZone(index)">{{ item.value }}</button>
    </div>
    <div class="w-100 mt-3">
      <h5>
        {{ pageTitle }}
      </h5>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">作者</th>
            <th scope="col">标题</th>
            <th scope="col">时间</th>
            <th scope="col">状态</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="posts.length > 0" v-for="(item, index) in posts">
            <td>
              <a :href="'<%= apiPrefix.page %>/user/' + item.author._id + '/info'">{{item.author.loginname}}</a>
            </td>
            <td>
              <a href="<%= apiPrefix.page %>/post/' + item._id + '?zoneId=' + selectedZone._id" target="_blank">{{item.title}}</a>
            </td>
            <td>{{ dateFns.distanceInWordsToNow(item.updateAt) }}</td>
            <td class="opts">
              <a class="text-danger" v-if="item.top">
                <i class="fa fa-hand-o-up"></i>
              </a>
              <a v-else>
                <i class="fa fa-hand-o-up"></i>
              </a>
              <a class="text-danger" v-if="item.lock">
                <i class="fa fa-lock"></i>
              </a>
              <a v-else>
                <i class="fa fa-unlock"></i>
              </a>
              <a class="text-danger" v-if="item.status">
                <i class="fa fa-eye"></i>
              </a>
              <a v-else>
                <i class="fa fa-eye-slash"></i>
              </a>
            </td>
            <td>
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  操作
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" :href="'<%= apiPrefix.page %>/edit/' + item._id" target="_blank">编辑</a>
                  <a class="dropdown-item" v-if="item.top" v-on:click="onTop(index, false)">取消置顶</a>
                  <a class="dropdown-item" v-else v-on:click="onTop(index, true)">置顶</a>
                  <a class="dropdown-item" v-if="item.lock" v-on:click="onLock(index, false)">取消锁定</a>
                  <a class="dropdown-item" v-else v-on:click="onLock(index, false)">锁定</a>
                  <a class="dropdown-item" v-on:click="onDelete(index)">删除</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button v-show="canLoadData && posts.length > 0" class="btn btn-primary btn-lg btn-block" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
      <p v-show="posts.length < 1">无数据</p>
    </div>
</div>
<script>
  const lily = Lily({
    data: {
      pageTitle: '全部',
      selectedZone: ''
    },
    methods: {
      onSelectedZone(index) {
        this.zones.forEach(function (item) {
          item.active = false;
        });

        this.posts = [];
        this.currentPage = 1;
        this.pages = 1;
        this.zones[index].active = true;
        this.selectedZone = this.zones[index];
        this.getData(this.currentPage);
      },
      getData(nextPage) {
        if (nextPage > this.pages) return;
        this.isLoading = true;

        axios.get(dataPrefix + '/posts',
          {
            params: {
              zoneId: this.selectedZone._id,
              currentPage: nextPage,
              status: 'all'
            }
          })
          .then(this.parse)
          .then(this.resetLoading)
          .then((result) => {
            this.authors = result.authors;
            this.currentPage = result.currentPage;
            this.pages = result.pages;
            this.canLoadData = this.pages > this.currentPage;
            this.updatePosts(result.posts);
          })
          .catch(this.error)
      },
      updatePosts(posts) {
        posts.forEach((item) => {
          item.author = R.find(R.propEq('_id', item.authorId), this.authors);
        })
        posts.forEach((item) => {
          this.posts.push(item)
        });
      },
      onTop(index) {
        axios.patch(dataPrefix + '/posts/' + this.posts[index]._id + '/top', {})
          .then(this.parse)
          .then((result) => {
            this.successMsg = result.msg;
            this.posts[index].top = !this.posts[index].top;
          })
          .catch(this.error)
      },
      onLock(index) {
        axios.patch(dataPrefix + '/posts/' + this.posts[index]._id + '/lock', {})
          .then(this.parse)
          .then((result) => {
            this.successMsg = result.msg;
            this.posts[index].lock = !this.posts[index].lock;
          })
          .catch(this.error)
      },
      onDelete(index) {
        if (confirm('确定要删除吗？')) {
          axios.delete(dataPrefix + '/posts/' + this.posts[index]._id)
            .then(this.parse)
            .then((result) => {
              Vue.delete(this.posts, index);
            })
            .catch(this.error)
        }
      },
      onReviewed(index, postId, status) {
        axios.post(dataPrefix + '/post/' + postId + '/status', { status: status })
          .then(this.parse)
          .then((result) => {
            this.posts[index].status = status;
          })
          .catch(this.error)
      },
      onLoadData() {
        this.getData(this.currentPage + 1);
      }
    }
  });

  lily.getZones();
</script>