<div class="ui">
  <%- partial('../_notice') %>
  <ul class="ui buttons">
    <button class="ui button" 
      v-for="(index, item) in zones" 
      v-on:click="onSelectedZone(index)">{{ item.value }}
    </button>
  </ul>
  <div class="ui red segment">
    <h3 class="ui top attached label">
      {{ pageTitle }}
    </h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>作者</th>
          <th>标题</th>
          <th>时间</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="posts.length > 0" v-for="(index, item) in posts">
          <td>
            <a href="<%= apiPrefix.page %>/user/{{ item.author._id}}/info">{{item.author.loginname}}</a>
          </td>
          <td>
            <a href='<%= apiPrefix.page %>/post/{{item._id}}?zoneId={{selectedZone._id}}'
              target="_blank">{{item.title}}</a>
          </td>
          <td>{{ item.createAtAgo }}</td>
          <td class="opts">
            <a class="active" v-if="item.top"><i class="fa fa-hand-o-up"></i></a>
            <a v-else><i class="fa fa-hand-o-up"></i></a>
            <a class="active" v-if="item.good"><i class="fa fa-star-o"></i></a>
            <a v-else><i class="fa fa-star-o"></i></a>
            <a class="active" v-if="item.lock"><i class="fa fa-lock"></i></a>
            <a v-else><i class="fa fa-unlock"></i></a>
            <a class="active" v-if="item.status"><i class="fa fa-eye"></i></a>
            <a v-else><i class="fa fa-eye-slash"></i></a>
          </td>
          <td>
            <div class="ui compact menu">
              <div class="ui simple dropdown item">操作
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><a href='<%= apiPrefix.page %>/edit/{{item._id}}'
                      target="_blank">编辑</a></div>
                  <div class="item" v-if="item.top"><a v-on:click="onTop(index, false)">取消置顶</a></div>
                  <div class="item" v-else><a v-on:click="onTop(index, true)">置顶</a></div>
                  <div class="item" v-if="item.good"><a v-on:click="onGood(index, false)">取消精华</a></div>
                  <div class="item" v-else><a v-on:click="onGood(index, true)">精华</a></div>
                  <div class="item" v-if="item.lock"><a v-on:click="onLock(index, false)">取消锁定</a></div>
                  <div class="item" v-else><a v-on:click="onLock(index, false)">锁定</a></div>
                  <div class="item" v-on:click="onDelete(index)"><a >删除</a></div>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button v-show="canLoadData && posts.length > 0" class="fluid ui button" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
    <p v-show="posts.length < 1">无数据</p>
  </div>
</div>
<script>
  const lily = Lily({
    data: {
      pageTitle: '全部',
      selectedZone: ''
    },
    methods: {
      onSelectedZone (index) {
        this.zones.forEach(function (item) {
          item.active = false;
        });

        this.posts = [];
        this.currentPage = 1;
        this.pages = 1;
        this.zones[index].active = true;
        this.selectedZone = this.zones[index];
        this.getData(this.currentPage);
      },
      getData (nextPage) {
        if (nextPage > this.pages) return;
        this.isLoading = true;

        axios.get(dataPrefix + '/posts',
          {
            params: {
              zoneId: this.selectedZone._id,
              currentPage: nextPage, 
              status: 'all'
            }
          })
          .then(this.parse)
          .then(this.resetLoading)
          .then(function (result) {
            this.authors = result.authors;
            this.currentPage = result.currentPage;
            this.pages = result.pages;
            this.canLoadData = this.pages > this.currentPage;
            this.updatePosts(result.posts);
          }.bind(this))
          .catch(this.error)
      },
      updatePosts (posts) {
        moment.locale('zh-cn')
        posts.forEach(function (item) {
          item.createAtAgo = moment(item.updateAt).fromNow()
        });

        posts.forEach(function (item) {
          var index = _.findIndex(this.authors, function (i) {
            return i._id === item.authorId
          })

          if (index >= 0) {
            item.author = this.authors[index]
          }
        }.bind(this))

        posts.forEach(function (item) {
          this.posts.push(item)
        }.bind(this));
      },
      onTop (index) {
        axios.patch(dataPrefix + '/posts/' + this.posts[index]._id + '/top', {})
          .then(this.parse)
          .then(function (result) {
            this.successMsg = result.msg;
            this.posts[index].top = !this.posts[index].top;
          }.bind(this))
          .catch(this.error)
      },
      onGood (index) {
        axios.patch(dataPrefix + '/posts/' + this.posts[index]._id + '/good', {})
          .then(this.parse)
          .then(function (response) {
            this.successMsg = result.msg;
            this.posts[index].good = !this.posts[index].good;
          }.bind(this))
          .catch(this.error)
      },
      onLock (index) {
        axios.patch(dataPrefix + '/posts/' + this.posts[index]._id + '/lock', {})
          .then(this.parse)
          .then(function (result) {
            this.successMsg = result.msg;
            this.posts[index].lock = !this.posts[index].lock;
          }.bind(this))
          .catch(this.error)
      },
      onDelete (index) {
        if (confirm('确定要删除吗？')) {
          axios.delete(dataPrefix + '/posts/' + this.posts[index]._id)
            .then(this.parse)
            .then(function (result) {
              this.posts.$remove(this.posts[index]);
            }.bind(this))
            .catch(this.error)
        }
      },
      onReviewed (index, postId, status) {
        axios.post(dataPrefix + '/post/' + postId + '/status', { status: status })
          .then(this.parse)
          .then(function (result) {
            this.posts[index].status = status;
          }.bind(this))
          .catch(this.error)
      },
      onLoadData() {
        this.getData(this.currentPage + 1);
      }
    }
  });

  lily.getZones();
</script>