<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <textarea class="form-control" v-model="profile.guide"></textarea>
    </div>
    <div class="card-footer">
      <button class="ui button" v-on:click="onUpdate">修改</button>
      <div class="ui checkbox">
        <input type="checkbox" v-model="profile.isHtml">
        <label>html编辑模式</label>
      </div>
    </div>
  </div>
</div>
<script>
  const lily = Lily({
    data: {
      profile: {}
    },
    methods: {
      getProfile () {
        axios.get(dataPrefix + '/profile')
          .then(this.parse)
          .then(function(result) {
            console.log(result);
            this.profile = result.profile;
          }.bind(this))
          .catch(this.error);
      },
      onUpdate () {
        if (this.profile._id) {
          axios.patch(dataPrefix + '/profile/' + this.profile._id,
            { 
              guide: this.profile.guide, 
              isHtml: this.profile.isHtml 
            })
            .then(this.parse)
            .then(function(result) {
              this.successMsg = '更新成功';
            }.bind(this))
            .catch(this.error);
        } else {
          axios.post(dataPrefix + '/profile',
            {
              guide: this.profile.guide, 
              isHtml: this.profile.isHtml 
            })
            .then(this.parse)
            .then(function(result) {
              this.profile = result.profile;
              this.successMsg = '创建成功';
            }.bind(this))
            .catch(this.error);
        }
      }
    }
  });

  lily.getProfile();
</script>
