<div class="ui segment">
  <div class="ui form">
    <div class="field">
      <textarea class="form-control" v-model="profile.guide"></textarea>
    </div>
    <div class="card-footer">
      <button class="ui button" v-on:click="onUpdate">修改</button>
      <div class="ui checkbox">
        <input type="checkbox" v-model="profile.isHtml">
        <label>html编辑模式</label>
      </div>
    </div>
  </div>
</div>
<script>
  var lily = new Lily();

  var vm = new Vue({
    el: '#app',
    data: Object.assign({
      profile: {}
    }, lily.options()),
    methods: {
      fetch: function() {
        axios.get(dataPrefix + '/profile')
          .then(function(response) {
            vm.profile = response.data.profile;
          })
          .catch(err => lily.error(err, vm));
      },
      onUpdate: function() {
        if (vm.profile._id) {
          axios.patch(dataPrefix + '/profile/' + vm.profile._id,
            { 
              guide: vm.profile.guide, 
              isHtml: vm.profile.isHtml 
            })
            .then(function(response) {
              vm.successMsg = '更新成功';
            })
            .catch(err => lily.error(err, vm));
        } else {
          $.post(dataPrefix + '/profile',
            {
              guide: vm.profile.guide, 
              isHtml: vm.profile.isHtml 
            })
            .then(function(response) {
              vm.profile = response.data.profile;
              vm.successMsg = '创建成功';
            })
            .catch(err => lily.error(err, vm));
        }

      }
    }
  });

  vm.fetch();
</script>
