<div id="app" class="card">
  <div class="card-body">
    <div class="form-group">
      <textarea class="form-control" rows="10" v-model="profile.guide"></textarea>
    </div>
    <div class="card-footer">
      <button class="btn btn-primary" v-on:click="onUpdate">修改</button>
      <div class="ui checkbox">
        <input type="checkbox" v-model="profile.isHtml">
        <label>html编辑模式</label>
      </div>
    </div>
  </div>
</div>
<script>
  const lily = Lily({
    data: {
      profile: {}
    },
    methods: {
      getProfile () {
        axios.post(graphqlPrefix, {
          query: `
          query { 
            profile {
              _id
              guide
              isHtml
            }
          }`
        }
          )
          .then(this.parse)
          .then((result) => {
            this.profile = result.data.profile;
          })
          .catch(this.error);
      },
      onUpdate () {
        let query = ``;
        if (this.profile._id) {
          query = `
            mutation {
              updateProfile(
                id: ${JSON.stringify(this.profile._id)},
                guide: ${JSON.stringify(this.profile.guide)},
                isHtml: ${JSON.stringify(this.profile.isHtml)}
              ) {
                _id
                guide
                isHtml
              }
            }
          `;
        } else {
          query = `
            mutation {
              createProfile(guide: ${JSON.stringify(this.profile.guide)},
                isHtml: ${JSON.stringify(this.profile.isHtml)}
              ) {
                _id
                guide
                isHtml
              }
            }
          `;
        }

        axios.post(graphqlPrefix,
            {
              query
            })
            .then(this.parse)
            .then((result) => {
              if (result.data.createProfile) {
                this.profile = result.data.createProfile
              }
              
              this.successMsg = '成功';
            })
            .catch(this.error);
      }
    }
  });

  lily.getProfile();
</script>
