<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">姓名</th>
        <th scope="col">邮箱</th>
        <th scope="col">手机</th>
        <th scope="col">激活</th>
        <th scope="col">角色</th>
        <th scope="col">注册时间</th>
        <th scope="col">操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="users.length > 0" v-for="(index, item) in users">
        <td>
          <a>{{item.loginname}}</a>
        </td>
        <td>
          <a>{{item.email}}</a>
        </td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.active }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.createAt }}</td>
        <td>
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              操作
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" v-on:click="onUpdateRole(index, 'A')">管理员</a>
              <a class="dropdown-item" v-on:click="onUpdateRole(index, 'S')">运营</a>
              <a class="dropdown-item" v-on:click="onUpdateRole(index, 'N')">普通用户</a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button v-show="canLoadData" class="btn btn-primary btn-lg btn-block" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
  <p v-show="users.length < 1">无数据</p>
</div>
<script>
  const lily = new Lily({
    data: {
      pageTitle: '用户列表',
      users: []
    },
    methods: {
      fetchUsers(currentPage) {
        this.isLoading = true;
        axios.post(dataPrefix + '/user/list',
          {
            currentPage: currentPage
          })
          .then(this.parse)
          .then(this.resetLoading)
          .then((result) => {
            result.users.forEach((item) => {
              this.users.push(item)
            })

            this.pages = result.pages;
            this.currentPage = result.currentPage;
            this.canLoadData = result.pages > result.currentPage;
          })
          .catch(this.error)
      },
      onUpdateRole(index, role) {
        axios.post(dataPrefix + '/user/updateRole',
          {
            role: role,
            userId: this.users[index]._id
          })
          .then(() => {
            this.users[index].role = role;
          })
          .catch(this.error)
      },
      onLoadData() {
        this.fetchUsers(this.currentPage + 1);
      }
    }
  });

  lily.fetchUsers(1);
</script>