<div class="ui red segment">
  <table class="ui celled table">
    <thead>
      <tr>
        <th>姓名</th>
        <th>邮箱</th>
        <th>手机</th>
        <th>激活</th>
        <th>角色</th>
        <th>注册时间</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr v-if="users.length > 0" v-for="(index, item) in users">
        <td style="width: 80px">
          <a>{{item.loginname}}</a>
        </td>
        <td>
          <a>{{item.email}}</a>
        </td>
        <td>{{ item.mobile }}</td>
        <td>{{ item.active }}</td>
        <td>{{ item.role }}</td>
        <td>{{ item.createAt }}</td>
        <td>
          <div class="ui compact menu">
            <div class="ui simple dropdown item">操作
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item"><a v-on:click="onUpdateRole(index, 'A')">管理员</a></div>
                <div class="item"><a v-on:click="onUpdateRole(index, 'S')">运营</a></div>
                <div class="item"><a v-on:click="onUpdateRole(index, 'N')">普通用户</a></div>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button v-show="canLoadData" class="fluid ui button" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
  <p v-show="users.length < 1">无数据</p>
</div>
<script>
  const lily = new Lily({
    data: {
      pageTitle: '用户列表',
      users: []
    },
    methods: {
      fetchUsers (currentPage) {
        this.isLoading = true;
        axios.post(dataPrefix + '/user/list',
          {
            currentPage: currentPage
          })
          .then(this.parse)
          .then(this.resetLoading)
          .then(function(result) {
            result.users.forEach(function(item) {
              this.users.push(item)
            }.bind(this))

            this.pages = result.pages;
            this.currentPage = result.currentPage;
            this.canLoadData = result.pages > result.currentPage;
          }.bind(this))
          .catch(this.error)
      },
      onUpdateRole (index, role) {
        axios.post(dataPrefix + '/user/updateRole',
          {
            role: role,
            userId: this.users[index]._id
          })
          .then(function(response) {
            this.users[index].role = role;
          }.bind(this))
          .catch(this.error)
      },
      onLoadData () {
        this.fetchUsers(this.currentPage + 1);
      }
    }
  });

  lily.fetchUsers(1);
</script>
