<div id="app" class="row justify-content-center">
  <div class="col-md-10">
    <div class="d-flex w-100 justify-content-between">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" v-if="newest">最新</button>
        <button type="button" class="btn btn-secondary" v-else v-on:click="onNewest">最新</button>
        <button type="button" class="btn btn-secondary" v-if="good">精华</button>
        <button type="button" class="btn btn-secondary" v-else v-on:click="onGood">精华</button>
      </div>
      <%- createPanel %>
    </div>
    <br>
    <%- partial('../base/posts') %>
      <br>
      <button v-if="canLoadData && posts.length > 0" class="btn btn-primary btn-lg btn-block" v-bind:class="{ loading: isLoading }"
        v-on:click="onLoadData">更多</button>
      <button v-else></button>
  </div>
</div>
<script>
  const lily = Lily({
    data: { good: false, url: dataPrefix + '/posts' },
    methods: {
      reset() {
        this.currentPage = 1;
        this.pages = 1;
        this.posts = [];
      },
      onNewest() {
        this.good = false;
        this.reset();
        this.getPosts(this.url, { zoneId, currentPage: 1, good: this.good });
      },
      onGood() {
        this.good = true;
        this.reset();
        this.getPosts(this.url, { zoneId, currentPage: 1, good: this.good });
      },
      onLoadData() {
        this.getPosts(this.url, { zoneId, currentPage: this.currentPage + 1, good: this.good });
      }
    }
  });

  lily.onNewest();
</script>