<div class="ui grid">
  <div class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="sixteen wide column">
          <div class="ui buttons">
            <button class="ui button" v-if="newest">最新</button>
            <button class="ui button" v-else v-on:click="onNewest">最新</button>
            <button class="ui button" v-if="good">精华</button>
            <button class="ui button" v-else v-on:click="onGood">精华</button>
          </div>
          <%- createPanel %>
        </div>
        <%- partial('../base/posts') %>
        <button v-if="canLoadData && posts.length > 0" class="fluid ui button" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
        <div v-else></div>
      </div>
    </div>
  </div>
</div>
<script>
  const lily =  Lily({
    data: { good: false, url: dataPrefix + '/posts' },
    methods: {
      reset() {
        this.currentPage = 1;
        this.pages = 1;
        this.posts = [];
      },
      onNewest() {
        this.good = false;
        this.reset();
        this.getPosts(this.url, { zoneId, currentPage: 1, good: this.good });
      },
      onGood() {
        this.good = true;
        this.reset();
        this.getPosts(this.url, { zoneId, currentPage: 1, good: this.good });
      },
      onLoadData() {
        this.getPosts(this.url, { zoneId, currentPage: this.currentPage + 1, good: this.good });
      }
    }
  });

  lily.onNewest();
</script>