<div class="row justify-content-center">
  <div class="col-md-8">
    <input type="hidden" id="zone-object" value="<%= typeof(zone) !== 'undefined' ? JSON.stringify(zone) : '' %>"/>
    <div class="ui segment">
      <div class="ui top attached label">{{ pageTitle }}</div>
      <div class="ui form">
        <div class="field">
          <input autofocus type="text" placeholder="推荐的文章标题" v-model="title">
        </div>

        <div class="field">
          <input autofocus type="text" placeholder="推荐的文章链接" v-model="recommendUrl">
        </div>
        <div class="field">
          <textarea v-model="description" placeholder="推荐语"></textarea>
        </div>
        <button class='ui button' v-on:click="onPublished">发布</button>
      </div>
    </div>
  </div>
</div>

<script>
  var zoneObjString = $('#zone-object').val();
  var zoneObj = zoneObjString ? JSON.parse(zoneObjString) : {};

  let lily = new Lily();

  var vm = new Vue({
    el: '#app',
    data: Object.assign({
      zoneObj: {},
      pageTitle: '新建',
    }, lily.options()),
    methods: {
      onPublished: function() {
        lily.createPost(this, {
          zoneId: vm.zoneObj._id,
          title: vm.title,
          recommendUrl: vm.recommendUrl,
          description: vm.description,
          status: 'P'});
      }
    }
  });

  vm.zoneObj = zoneObj;
</script>
