<div class="row justify-content-center">
  <div class="col-md-8">
    <input type="hidden" id="zone-object" value="<%= typeof(zone) !== 'undefined' ? JSON.stringify(zone) : '' %>"/>
    <div class="ui segment">
      <div class="ui top attached label">{{ pageTitle }}</div>
      <div class="ui form">
        <div class="field">
          <input autofocus type="text" placeholder="推荐的文章标题" v-model="title">
        </div>

        <div class="field">
          <input autofocus type="text" placeholder="推荐的文章链接" v-model="recommendUrl">
        </div>
        <div class="field">
          <textarea v-model="description" placeholder="推荐语"></textarea>
        </div>
        <button class='ui button' v-on:click="onPublished('P')">发布</button>
      </div>
    </div>
  </div>
</div>

<script>
  Lily({
    data: {
      pageTitle: '新建',
    },
    methods: {
      onPublished: function(status) {
        status = typeof status !== 'undefined' ? status : 'P';
        this.createPost({
          zoneId,
          title: this.title,
          recommendUrl: this.recommendUrl,
          description: this.description,
          status});
      }
    }
  });
</script>
