<div id="app" class="row justify-content-md-center">
  <div class="col-md-8">
    <%- partial('../../_notice') %>
    <input type="hidden" id="zone-object" value="<%= typeof(zone) !== 'undefined' ? JSON.stringify(zone) : '' %>" />
    <div class="card border-primary">
      <div class="card-header bg-primary text-white">
        {{ pageTitle }}
      </div>
      <div class="card-body">
        <div class="form-group">
          <div class="input-group">
            <input autofocus type="text" class="form-control" placeholder="推荐的文章标题" v-model="title">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="推荐的文章链接" v-model="recommendUrl">
          </div>
        </div>
        <div class="form-group">
          <textarea class="form-control" v-model="description" placeholder="推荐语" rows="6"></textarea>
        </div>
        <button type="button" class="btn btn-primary" v-on:click="onPublished('P')">发布</button>
      </div>
    </div>
  </div>
</div>

<script>
  const postId = '<%= postId %>';
  const lily = new Lily({
    data: {
      url: dataPrefix + '/posts/' + postId,
      zoneId: '',
      pageTitle: '编辑',
    },
    methods: {
      onPublished(status) {
        if (this.title === '') {
          this.errorMsg = '标题为空';
          return;
        }

        if (this.recommendUrl === '') {
          this.errorMsg = '链接不能为空'
          return;
        }

        if (this.description === '') {
          this.errorMsg = '推荐语不能未空'
          return;
        }

        lily.savePost(postId, {
          title: this.title,
          recommendUrl: this.recommendUrl,
          description: this.description,
          status: status
        });
      }
    }
  });

  lily.getPost(postId)
    .then(function (result) {
      this.title = result.post.title || '';
      this.description = result.post.description || '';
      this.recommendUrl = result.post.recommendUrl || '';
    }.bind(lily))
    .catch(lily.error);
</script>