<div class="row justify-content-center">
  <div class="col-md-8">
    <input type="hidden" id="zone-object" value="<%= typeof(zone) !== 'undefined' ? JSON.stringify(zone) : '' %>"/>
    <div class="ui segment">
      <div class="ui top attached label">{{ pageTitle }}</div>
      <div class="ui form">
        <div class="field">
          <input autofocus type="text" placeholder="推荐的文章标题" v-model="title">
        </div>
  
        <div class="field">
          <input autofocus type="text" placeholder="推荐的文章链接" v-model="recommendUrl">
        </div>
        <div class="field">
          <textarea v-model="description" placeholder="推荐语"></textarea>
        </div>
        <button class='ui button' v-on:click="onPublished('P')">发布</button>
      </div>
    </div>
  </div>
</div>

<script>
  const postId = '<%= postId %>';
  const lily = new Lily({
    data: {
      url: dataPrefix + '/posts/' + postId,
      zoneId: '',
      pageTitle: '编辑',
    },
    methods: {
      onPublished (status) {
        if (this.title === '') {
          this.errorMsg = '标题为空';
          return;
        }

        if (this.recommendUrl === '') {
          this.errorMsg = '内容为空'
          return
        }

        lily.savePost(postId, {
          title: this.title,
          recommendUrl: this.recommendUrl,
          description: this.description,
          status: status});
      }
    }
  });

  lily.getPost(postId)
    .then(function (result) {
      this.title = result.post.title || '';
      this.description = result.post.description || '';
      this.recommendUrl = result.post.recommendUrl || '';
    }.bind(lily))
    .catch(lily.error);
</script>
  