<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="ui grid">
      <div class="sixteen wide column">
        <%- createPanel %>
      </div>
    </div>
    <%- partial('./posts') %>
    <button v-if="canLoadData && posts.length > 0" class="fluid ui button" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
    <div v-else></div>
  </div>
</div>
<script>
  const lily = Lily({
    data: {
      url: dataPrefix + '/posts'
    },
    methods: {
      onLoadData() {
        this.getPosts(this.url, { zoneId, currentPage: this.currentPage + 1 });
      }
    }
  });

  lily.getPosts(lily.url, { zoneId, currentPage: 1 });
</script>