<div id="app" class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <%=  post.author.loginname %> 推荐
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= post.title %></h5>
        <div class="card-text" v-pre><%=  post.description %></div>
        <div class="mt-3">
        <a href="<%= post.recommendUrl %>" class="btn btn-primary">阅读</a>
        <% if(currentUser 
        && (currentUser._id === post.author._id.toString() 
            || currentUser.isAdmin() 
            || currentUser.isSupport())) {%>
          <a class="btn btn-primary" href="<%= apiPrefix.page %>/edit/<%=post._id %>?zoneId=<%= post.zoneId %>">
            修改
          </a>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>