<div id="app" class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <!-- Heading Area (image and name/title) -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <img src="<%= user.avatar %>" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col text-center">
            <h3>
              <%= user.loginname %>
            </h3>
            <p>
              <%= user.signature %>
            </p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col text-center">
            <h6>加入时间:</h6>
            <p>
              <%= user.createAt %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-6">
    <div class="btn-group mb-3" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" v-bind:class="{ active: tab === 'post' }" v-on:click="onSwitchTab('post')">文章</button>
      <button type="button" class="btn btn-secondary" v-bind:class="{ active: tab === 'collect' }" v-on:click="onSwitchTab('collect')">收藏</button>
    </div>
    <%- partial('../template/base/posts') %>
      <br>
      <button v-if="canLoadData" class="btn btn-primary btn-lg btn-block" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
      <div v-else></div>
  </div>
</div>
<script type="text/javascript">
  const userId = '<%= typeof(user) !== "undefined" ? user._id : "" %>';
  const lily = Lily({
    data: {
      tab: 'post',
      url: ''
    },
    methods: {
      onSwitchTab(key) {
        this.tab = key;
        this.posts = [];
        this.currentPage = 1;
        this.pages = 1;
        this.canLoadData = true;
        if (key === 'post') {
          this.url = dataPrefix + '/user/' + userId + '/posts';
        } else {
          this.url = dataPrefix + '/user/' + userId + '/collectPosts';
        }

        this.getPosts(this.url, { currentPage: this.currentPage });
      },
      onLoadData() {
        this.getPosts(this.url, { currentPage: this.currentPage + 1 });
      }
    }
  });

  lily.url = dataPrefix + '/user/' + userId + '/posts';
  lily.getPosts(lily.url, { currentPage: lily.currentPage });
</script>