<div id="app" class="row">
  <div class="col-lg-3 col-md-6">
    <div class="card">
      <!-- Heading Area (image and name/title) -->
      <div class="card-body">
        <div class="row">
          <div class="col">
            <img src="<%= user.avatar %>" alt="user team member profile image" class="img-fluid rounded-circle mx-auto d-block">
          </div>
        </div>
        <div class="row mt-3">
          <div class="col text-center">
            <h3>
              <%= user.loginname %>
            </h3>
            <p>
              <%= user.signature %>
            </p>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col text-center">
            <h6>加入时间:</h6>
            <p>
              <%= user.createAt %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-md-6">
    <div class="btn-group mb-3" role="group">
      <button type="button" 
        class="btn btn-secondary" 
        v-for="item in tabs"
        :key="item.key"
        v-bind:class="{ active: item.key === tab }" 
        v-on:click="onSwitchTab(item.key)">
        {{ item.text }}
      </button>
    </div>
    <%- partial('../template/base/posts') %>
      <br>
      <button v-if="canLoadData" class="btn btn-primary btn-lg btn-block" v-bind:class="{ loading: isLoading }" v-on:click="onLoadData">更多</button>
      <div v-else></div>
  </div>
</div>
<script type="text/javascript">
  const userId = '<%= typeof(user) !== "undefined" ? user._id : "" %>';
  const currentUserId = '<%= currentUser._id %>';

  let tabs = [
    { key: 'post', fetch: 'posts', text: '文章' },
    { key: 'draft', fetch: 'draftPosts', text: '草稿' },
    { key: 'collect', fetch: 'collectPosts', text: '收藏' }
  ]

  if (userId !== currentUserId) {
    tabs = R.dropWhile(item => item.key !== 'draft', tabs);
  }

  const lily = Lily({
    data: {
      tabs,
      tab: tabs[0].key,
      url: ''
    },
    methods: {
      onSwitchTab(key) {
        this.tab = key;
        this.posts = [];
        this.currentPage = 1;
        this.pages = 1;
        this.canLoadData = true;

        const fetch = R.find(R.propEq('key', this.tab))(this.tabs).fetch;
        this.url = dataPrefix + '/user/' + userId + '/' + fetch;

        this.getPosts(this.url, { currentPage: this.currentPage });
      },
      onLoadData() {
        this.getPosts(this.url, { currentPage: this.currentPage + 1 });
      }
    }
  });

  lily.url = dataPrefix + '/user/' + userId + '/posts';
  lily.getPosts(lily.url, { currentPage: lily.currentPage });
</script>