<div class='ui text container'>
  <h3 class="ui top attached header">
    修改密码
  </h3>
  <div class="ui attached segment">
    <div class='ui form'>
      <div class='field'>
        <label>用户名</label>
        <input class='readonly' size='30' type='text' readonly='true' v-model="loginname"/>
      </div>

      <div class='field'>
        <label>电子邮件</label>
        <input class='readonly' size='30' type='text' readonly='true' v-model="email"/>
      </div>

      <div class="field">
        <label>头像</label>
        <div>
        <button class="ui button" v-on:click="uploadAvatar">上传头像</button>
        </div>
      </div>

      <div class="ui small images">
        <img v-bind:src="avatar">
      </div>

      <div class='field'>
        <label>微信</label>
        <input size='30' type='text' v-model="weixin"/>
      </div>

      <div class='field'>
        <label>QQ</label>
        <input size='30' type='text' v-model="qq"/>
      </div>

      <div class='field'>
        <label>所在地点</label>
        <input size='30' type='text' v-model="location"/>
      </div>

      <div class="field">
        <label>个性签名</label>
        <textarea id='signature' name='signature' size='30' v-model="signature"></textarea>
      </div>
      
      <% if(typeof(csrf) !== 'undefined') {%>
      <input type='hidden' name='_csrf' value='<%= csrf %>'>
      <% } %>
      <button class="ui button" v-on:click="updateUserInfo">更新资料</button>
    </div>
  </div>
</div>

<script type="text/javascript">
  var userId = '<%= typeof(userId) !== "undefined" && userId ? userId : ""%>';
  var lily = new Lily({pagePrefix, dataPrefix});
  var vm = new Vue({
    el: '#app',
    data: Object.assign({}, lily.options()),
    methods: {
      uploadAvatar() {
        var imageUpload = new ImageUpload();
        imageUpload.bind(function(url) {
          vm.avatar = uri;
        });
      },
      updateUserInfo() {
        lily.updateUser(vm);
      }
    }
  });

  vm.userId = userId;
  lily.getUser(vm);
</script>
