<div id="app" class="row justify-content-md-center">
    <div class="col-md-1 mr-3">
      <div class="btn-group-vertical" role="group">
        <button type="button" class="btn btn-secondary" v-on:click="switchTab('unRead')">新消息</button>
        <button type="button" class="btn btn-secondary" v-on:click="switchTab('read')">已读消息</button>
      </div>
    </div>

    <div class="col-md-8">
      <div v-if="currentType === 'unRead'">
        <% if (count) { %>
          <button type="button" class="btn btn-primary btn-sm" v-on:click="toRead">
            全部标记为已读
            <span class="badge badge-light">
              <%= count %>
            </span>
          </button>
        <% } %>
        <%- partial('./_unread_list') %>
        <button
          v-show="unRead.canLoadData && unRead.messages.length > 0" 
          class="btn btn-primary btn-lg btn-block mt-3" 
          v-bind:class="{ loading: unRead.isLoading }"
          v-on:click="onLoadData">更多</button>
      </div>
      <div v-if="currentType === 'read'">
        <%- partial('./_read_list') %>
        <button
          v-show="read.canLoadData && read.messages.length > 0" 
          class="btn btn-primary btn-lg btn-block mt-3" 
          v-bind:class="{ loading: read.isLoading }"
          v-on:click="onLoadData">更多</button>
      </div>
    </div>
</div>
<script>
  const lily = Lily({
    data: {
      currentType: 'unRead',
      read: {
        type: 'read',
        messages: [],
        currentPage: 1,
        pages: 1,
        canLoadData: true,
        isLoading: false
      },
      unRead: {
        type: 'unRead',
        messages: [],
        currentPage: 1,
        pages: 1,
        canLoadData: true,
        isLoading: false
      }
    },
    methods: {
      switchTab(type) {
        this.currentType = type;
      },
      toRead() {
        axios.patch(dataPrefix + '/message/toRead')
          .then(function (response) {
            window.location = '/user/messages';
          })
      },
      getData(type, nextPage) {
        axios.post(dataPrefix + '/message/data', { type: type, currentPage: nextPage })
          .then((response) => {
            if (this.currentType === 'unRead') {
              this.unRead.isLoading = false;
            } else {
              this.read.isLoading = false;
            }

            return response.data;
          })
          .then((result) => {
            result.messages.forEach((item) => {
              if (item.hasRead) {
                this.read.messages.push(item);
                this.read.currentPage = result.currentPage;
                this.read.pages = result.pages;
                this.read.canLoadData = this.read.pages > this.read.currentPage;
              } else {
                this.unRead.messages.push(item);
                this.unRead.currentPage = result.currentPage;
                this.unRead.pages = result.pages;
                this.unRead.canLoadData = this.unRead.pages > this.unRead.currentPage;
              }
            });
          })
          .catch(this.error);
      },
      onSetRead(index, id) {
        axios.post(dataPrefix + '/message/read', { messageId: id })
          .then((response) => {
            this.unRead.messages[index].hasRead = true
          })
          .catch(this.error);
      },
      onLoadData() {
        if (this.currentType === 'unRead') {
          if (this.unRead.canLoadData) {
            this.unRead.isLoading = true;
            this.getData(this.unRead.type, this.unRead.currentPage + 1);
          }
        } else {
          if (this.read.canLoadData) {
            this.read.isLoading = true;
            this.getData(this.read.type, this.read.currentPage + 1);
          }
        }
      }
    }
  });

  lily.getData(lily.unRead.type, lily.unRead.currentPage);
  lily.getData(lily.read.type, lily.read.currentPage);
</script>