<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="ui top attached tabular menu">
      <a class="active item" data-tab="first" v-on:click="switchTab('unRead')">新消息</a>
      <a class="item" data-tab="second" v-on:click="switchTab('read')">已读消息</a>
    </div>
    <div class="ui bottom active attached tab segment" data-tab="first">
      <div class="ui compact menu">
        <a class="item" v-on:click="toRead">
          <i class="icon mail"></i> 标记为全读
          <div class="floating ui red label"><%= count %></div>
        </a>
      </div>
      <%- partial('components/unReadList') %>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
      <%- partial('components/readList') %>
    </div>
  </div>
</div>
<script>
  $('.menu .item').tab();
  var vm = new Vue({
    el: '#app',
    data: {
      errorMsg: '',
      successMsg: '',
      posts: {},
      authors: {},
      replies: {},
      currentType: 'unRead',
      read: {
        type: 'read',
        messages: [],
        currentPage: 1,
        pages: 1
      },
      unRead: {
        type: 'unRead',
        messages: [],
        currentPage: 1,
        pages: 1
      },
      canLoadData: true
    },
    methods: {
      switchTab (type) {
        vm.canLoadData = true;
        vm.currentType = type;
      },
      toRead() {
        axios.patch(dataPrefix + '/message/toRead')
          .then(function(response) {
            window.location = '/user/messages';
          })
      },
      getData (type, nextPage) {
        axios.post(dataPrefix + '/message/data', {type: type, currentPage: nextPage})
          .then(function(response) {
            let result = response.data;
            vm.canLoadData = true
            result.messages.forEach( function(item){
              if (item.hasRead) {
                vm.read.messages.push(item);
                vm.read.currentPage = nextPage;
                vm.read.pages = result.pages;
              } else {
                vm.unRead.messages.push(item);
                vm.unRead.currentPage = nextPage;
                vm.unRead.pages = result.pages;
              }
            });

            result.posts.forEach(function(item) {
              vm.posts[item._id] = item;
            });
            result.authors.forEach(function(item) {
              vm.authors[item._id] = item;
            });
            result.replies.forEach(function(item) {
              vm.replies[item._id] = item;
            });
          })
          .catch(function(err) {
            console.log(err);
          })
      },
      onSetRead (index, id) {
        axios.post(dataPrefix + '/message/read', {messageId: id})
          .then(function(response) {
            vm.unRead.messages[index].hasRead = true
          })
          .catch(function(err) {
            console.log(err);
          });
      }
    }
  })

  vm.getData(vm.unRead.type, vm.unRead.currentPage);
  vm.getData(vm.read.type, vm.read.currentPage);

  var scrollButtom = new ScrollButtom();
  scrollButtom.init(function() {
    if (vm.currentType === 'unRead') {
      if (vm.unRead.currentPage < vm.unRead.pages && vm.canLoadData) {
        vm.canLoadData = false;
        vm.getData(vm.unRead.type, vm.unRead.currentPage + 1);
      }
    } else {
      if (vm.read.currentPage < vm.read.pages && vm.canLoadData) {
        vm.canLoadData = false;
        vm.getData(vm.read.type, vm.read.currentPage + 1);
      }
    }
  });
</script>
