<div class="ui comments" v-for="(index, item) in unRead.messages">
  <div class="comment">
    <div class="content">
      <div class="metadata">
        <span class="date">{{item.updateAt}}</span>
      </div>
      <div class="text">
        <span v-if="item.type === 'reply'"><a href="#" >{{authors[item.authorId].loginname}}</a> 回复了 <a href="/post/{{item.postId}}">{{posts[item.postId].title}}</a></span>
        <span v-if="item.type === 'reply2'"><a href="#">{{authors[item.authorId].loginname}}</a> 回复了 <a href="/post/{{item.postId}}">{{posts[item.postId].title}}</a> 的评论</span>
        <span v-if="item.type === 'follow'"><a href="#">{{authors[item.authorId].loginname}}</a> follow 了你</span>
        <span v-if="item.type === 'at'"><a href="#">{{authors[item.authorId].loginname}}</a> @ 了你</span>
      </div>
    </div>
    <div class="actions">
      <a v-if="item.hasRead === false" v-on:click="onSetRead(index, item._id)">标记已读</a>      
      <span v-else>已读 <a class="ui red empty circular label"></a></span>
    </div>
  </div>
</div>
