<div class="list-group mt-3">
  <div class="list-group-item list-group-item-action flex-column align-items-start" v-for="(index, item) in unRead.messages">
    <div class="d-flex">
      <div class="w-100">
        <div class="d-flex mr-9 justify-content-between">
          <div class="mb-1">
            <span v-if="item.type === 'reply'">
              <a href="#">{{authors[item.authorId].loginname}}</a> 回复了
              <a href="/post/{{item.postId}}">{{posts[item.postId].title}}</a>
            </span>
            <span v-if="item.type === 'reply2'">
              <a href="#">{{authors[item.authorId].loginname}}</a> 回复了
              <a href="/post/{{item.postId}}">{{posts[item.postId].title}}</a> 的评论</span>
            <span v-if="item.type === 'follow'">
              <a href="#">{{authors[item.authorId].loginname}}</a> follow 了你</span>
            <span v-if="item.type === 'at'">
              <a href="#">{{authors[item.authorId].loginname}}</a> @ 了你</span>
          </div>
          <div>
            <a class="btn btn-primary text-white btn-sm" v-if="item.hasRead === false" v-on:click="onSetRead(index, item._id)">标记已读</a>
            <span v-else>已读
              <a class="ui red empty circular label"></a>
            </span>
          </div>
        </div>
        <p class="mb-1">{{ item.updateAtAgo }}</p>
      </div>
    </div>
  </div>
</div>