<div class="col-md-10">
  <div class="card w-100 mt-3" v-for="item in replies">
    <div class="card-header">
      <img class="avatar-32" v-bind:src="item.author.avatar" />
      <a>{{ item.author.loginname }}</a>
      <span class="date">{{ item.updateAtAge }}</span>
    </div>
    <div class="card-body">
      <div class="<%=config.mdType%> reply-content" v-html="item.htmlContent">
      </div>
    </div>

    <div class="card-footer bg-white pt-0 pb-0">
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-white text-secondary" v-if="item.ups.length > 0" v-on:click="onUpReply(item._id)">
            <i class="fa fa-heart-o" aria-hidden="true"></i> {{ item.ups.length }}
          </button>
          <button type="button" class="btn btn-white text-secondary" v-else v-on:click="onUpReply(item._id)">
            <i class="fa fa-heart-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-white text-secondary" v-on:click="onReplyReply(item._id, item.author.loginname)">
            <i class="fa fa-reply" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-white text-secondary" v-if="userId === item.author._id.toString()" v-on:click="onEditReply(item._id, item.content)">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </button>
          <button type="button" class="btn btn-white text-secondary" v-if="userId === item.author._id.toString()" v-on:click="onDeleteReply(item._id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <% if (typeof(currentUser) !== 'undefined' && currentUser) { %>
  <div class="card w-100 mt-3">
    <div class="card-header">
      <img class="avatar-32" src="<%= currentUser.avatar %>" />
    </div>
    <div class="card-body">
      <div class="field">
        <textarea class='form-control' rows='4' v-model="content"></textarea>
      </div>
      <button class="btn btn-primary mt-3" v-on:click="onReply">
        <i class="icon edit"></i> 添加评论 </div>
      </button>
    </div>
  </div>
  <% } else { %>
  <div class="card w-100 text-center mt-3">
    <div class="card-body">
      <h5 class="card-title">登录后才能评论</h5>
      <a class="btn btn-primary" href="/signin">登录
      </a>
    </div>
  </div>
 <% } %>
</div>