<div class="ui">
  <input type="hidden" id="zone-object" value="<%= typeof(zone) !== 'undefined' ? JSON.stringify(zone) : '' %>"/>
  <!-- <%- partial('_advertisingMap') %> -->
  <div class="ui segment">
    <div class="ui top attached label">{{ pageTitle }}</div>
    <div class="ui form">
      <div class="field">
        <input autofocus type="text" placeholder="标题字数 10 字以上" v-model="title">
      </div>

      <!-- <ul id="postTags"></ul> -->

      <div class='markdown_editor in_editor'>
        <div class='markdown_in_editor'>
          <textarea class='form-control editor' name='t_content' rows='20' placeholder='支持 Markdown 语法'></textarea>
        </div>
      </div>
      <button class='ui button' v-on:click="onSave">保存草稿</button>
      <button class='ui button' v-on:click="onPublished">发布</button>
      <button class="ui button" v-on:click="onPreview">预览</button>
      <div class="ui checkbox">
        <input type="checkbox" id="checkbox" v-model="isHtml">
        <label>html编辑模式</label>
      </div>
    </div>
  </div>

  <%- partial('_preview_modal') %>
</div>

<!-- markdown editor -->
<%- partial('../../includes/editor') %>
<script>
  var zoneObjString = $('#zone-object').val();
  var zoneObj = zoneObjString ? JSON.parse(zoneObjString) : {};

  var sampleTags = [];

  $('#postTags').tagit({
      availableTags: sampleTags,
      removeConfirmation: true,
      itemName: 'item',
      fieldName: 'tags'
  });

  var editor = new Editor();
  editor.render($('.editor')[0]);

  var vue = new Vue({
    el: '#app',
    data: {
      zoneObj: {},
      title: '',
      advertisingMap: '',
      pageTitle: '新建',
      post: '',
      isHtml: false,
      errorMsg: '',
      successMsg: '',
      currentPage: 0,
      pages: 0,

    },
    methods: {
      onSave: function(status) {
        vue.errorMsg = ''
        if (vue.title === '') {
          vue.errorMsg = '标题为空';
          return;
        }

        if (editor.codemirror.getValue() === '') {
          vue.errorMsg = '内容为空'
          return
        }

        axios.post(dataPrefix + '/posts', {
          zoneId: vue.zoneObj._id,
          title: vue.title,
          advertisingMap: vue.advertisingMap,
          content: editor.codemirror.getValue(),
          tags: getTags(),
          isHtml: vue.isHtml,
          status: 'D'})
          .then(function (response) {
            let result = response.data;
            if (result.err) {
              vue.errorMsg = result.err;
            } else {
              location.href = result.url;
            }
          })
          .catch(function(err) {
            console.log(err);
          })
      },
      onPublished: function() {
        axios.post(dataPrefix + '/posts', {
          zoneId: vue.zoneObj._id,
          title: vue.title,
          advertisingMap: vue.advertisingMap,
          content: editor.codemirror.getValue(),
          tags: getTags(),
          status: 'P'})
          .then(function (response) {
              if (response.data.err) {
                vue.errorMsg = response.data.err;
              } else {
                location.href = response.data.url;
              }
          })
          .catch(function(err) {
            console.log(err);
          })
      },
      onPreview: function() {
        var md = new markdownit();
        $('div#preview-content').empty();
        $('div#preview-content').append(md.render(editor.codemirror.getValue()));
        $('.ui.preview.modal').modal('show');
      },
      onUploadImage: function() {
        var imageUpload = new ImageUpload();
        imageUpload.bind(uploadImageCallback);
      },
      onDeleteImage: function() {
        vue.advertisingMap = '';
      }
    }
  });

  function uploadImageCallback(url) {
    vue.advertisingMap = url;
  }

  function getTags() {
    var tags = [];
    $("input[name='tags']").each(function(index,item) {
      tags.push($(this).val())
    });

    return tags;
  }

  function updateTags(tags) {
    tags.forEach(item => {$("#postTags").tagit("createTag", item)})
  }

  vue.zoneObj = zoneObj;
</script>
