<div id="app" class="col-md-10">
  <input type="hidden" id="post-id" value="<%= typeof(postId) !== 'undefined' ? postId : '' %>" />
  <input type="hidden" id="zone-object" value="<%= typeof(zone) !== 'undefined' ? JSON.stringify(zone) : '' %>" />
  <!-- <%- partial('_advertisingMap') %> -->
  <%- partial('../../_notice') %>
    <div class="card w-100">
      <div class="card-header">{{ pageTitle }}</div>
      <div class="card-body">
        <div class="form-group">
          <input type="checkbox" class="form-checkbox-input" id="rawhtml" v-model="isHtml">
          <label class="form-check-label" for="rawhtml">直接输入 html（默认为 markdown）</label>
        </div>

        <div class="form-group">
          <input autofocus type="text" class="form-control" placeholder="标题字数 5 字以上" v-model="title">
        </div>

        <!-- <ul id="postTags"></ul> -->
        <div class="form-group">
          <textarea class="form-control" rows="20" placeholder="文章支持 Markdown 语法" v-model="content"></textarea>
        </div>
        <button class='btn btn-primary' v-on:click="onUploadImage">上传图片</button>
        <div class="text-right">
          <button class="btn btn-primary" v-on:click="onPreview">预览</button>
          <button class='btn btn-primary' v-on:click="onPublished('D')">保存草稿</button>
          <button class='btn btn-primary' v-on:click="onPublished('P')">发布</button>
        </div>
      </div>
    </div>

    <%- partial('_preview_modal') %>
</div>

<script>
  let sampleTags = [];

  $('#postTags').tagit({
    availableTags: sampleTags,
    removeConfirmation: true,
    itemName: 'item',
    fieldName: 'tags'
  });
  const postId = $('#post-id').val();

  const lily = Lily({
    data: {
      zoneId: '',
      advertisingMap: '',
      pageTitle: '编辑',
      post: '',
      isHtml: false
    },
    methods: {
      onPublished(status) {
        status = typeof status !== 'undefined' ? status : 'P';
        if (this.title === '' || this.title.length < 5) {
          this.errorMsg = '标题不能为空，且需 5 个字或以上';
          return;
        }

        if (this.content === '') {
          this.errorMsg = '内容不能为空'
          return;
        }

        this.savePost(postId, {
          title: this.title,
          advertisingMap: this.advertisingMap,
          content: this.content,
          tags: getTags(),
          isHtml: this.isHtml,
          status
        });
      },
      onPreview() {
        $('div#preview-content').empty();
        $('div#preview-content').append(marked(this.content));
        $('.modal.preview-dialog').modal('show');
      },
      onUploadImage() {
        var imageUpload = new ImageUpload();
        imageUpload.bind(url => {
          this.content += `\n![](${url})`;
        });
      },
      onDeleteImage() {
        this.advertisingMap = '';
      }
    }
  });

  function uploadImageCallback(url) {
    this.advertisingMap = url;
  }

  function getTags() {
    let tags = [];
    $("input[name='tags']").each(function (index, item) {
      tags.push($(this).val())
    });

    return tags;
  }

  function updateTags(tags) {
    tags.forEach(item => { $("#postTags").tagit("createTag", item) })
  }

  lily.getPost(postId)
    .then(function (result) {
      this.post = result.post || {};
      this.title = this.post.title || '';
      this.advertisingMap = this.post.advertisingMap || '';
      this.tags = this.post.tags || [];
      this.isHtml = this.post.isHtml;
      this.content = this.post.content;
      updateTags(this.tags);
    }.bind(lily))
    .catch(lily.error);
</script>