<div class="list-group mb-2">
  <a 
    :href="'/post/' + item._id" 
    class="list-group-item list-group-item-action flex-column align-items-start" 
    v-bind:class="{'list-side-blue': item.recommendUrl === '', 'list-side-red': item.recommendUrl !== ''}"
    v-for="item in posts">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-2">
        {{ item.title }} 
      </h5>
    </div>
    <small class="text-muted">{{ item.author.loginname }} {{ dateFns.distanceInWordsToNow(item.updateAt) }}</small>
  </a>
</div>