<div id="app" class="row justify-content-center">
  <div class="col-md-10">
    <h3 class="">
      <%= post.title %> 
    </h3>
    <div>
      <% if(post.isOriginal) { %>
      <span class="badge badge-secondary">原创</span>
      <% } %>
    </div>
    <div class="card mt-3">
      <div class="card-header">
        <img class="avatar-sm" src="<%= post.author.avatar %>" />
        <a href="<%= apiPrefix.page %>/user/<%= post.author._id %>/info">
          <%= post.author.loginname %>
        </a>
        <span class="date">
          <%= post.updateAt %>
        </span>
      </div>
      <div class="card-body" v-pre>
        <% if(post.isOriginal) { %>
        <div class="alert alert-warning" role="alert">
          <p class="font-weight-bold">版权声明</p> 本文仅用于学习、研究和交流目的，欢迎非商业转载。转载请注明出处、作者和一起学JS的完整链接。
        </div>
        <% } %>
        <% if(post.isHtml) { %>
          <%- post.linkedContent %>
        <% } else { %>
        <div class='<%=config.mdType%>' v-pre>
          <%- marked(post.linkedContent) %>
        </div>
        <% } %>
      </div>
      <div class="card-footer bg-white pt-0 pb-0">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-white text-secondary" v-if="ups > 0" v-on:click="onUpPost(postId)">
                <i class="fa fa-heart-o" aria-hidden="true"></i> {{ ups }}
            </button>
            <button type="button" class="btn btn-white text-secondary" v-else v-on:click="onUpPost(postId)">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </button>
            <button type="button" class="btn btn-white text-secondary" v-if="isCollect" v-on:click="onDelCollectPost">
                <i class="fa fa-flag" aria-hidden="true"></i> <small>取消收藏</small>
            </button>
            <button type="button" class="btn btn-white text-secondary" v-else v-on:click="onCollectPost">
                <i class="fa fa-flag" aria-hidden="true"></i> <small>收藏</small>
            </button>
            <% if(currentUser
              && (currentUser._id === post.author._id.toString() 
                  || currentUser.isAdmin() 
                  || currentUser.isSupport())) {%>
              <a class="btn btn-white text-secondary" href="<%= apiPrefix.page %>/edit/<%=post._id %>?zoneId=<%= post.zoneId %>">
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- partial('_comment') %>
</div>
<script>
  const userId = '<%= typeof(currentUser) !== "undefined" && currentUser ? currentUser._id : "" %>';
  const postId = '<%= typeof(post) !== "undefined" && post ? post._id : "" %>';

  const lily = Lily({
    data: {
      isCollect: <%= typeof(post) !== "undefined" && post ? post.isCollect : false %>,
    ups: <%= typeof(post) !== "undefined" && post ? post.ups.length : 0 %>,
    statusKey: '<%= typeof(post) !== "undefined" && post ? post.status : "saved" %>',
    statusValue: '已保存',
    isReviewing: false,
    isReviewed: false
    },
  methods: {
    getReplies(nextPage) {
      axios.get(dataPrefix + '/replies',
        {
          params: {
            postId: this.postId,
            currentPage: nextPage
          }
        })
        .then(this.parse)
        .then((result) => {
          this.canLoadData = true;
          this.currentPage = result.currentPage || 1;
          this.pages = result.pages || 1;
          this.authors = result.authors || [];
          let replies = result.replies || [];
          this.updateReplies(replies);
        })
        .catch(this.error)
    },
    updateReplies(replies) {
      replies.forEach((item) => {
        item.htmlContent = marked(item.content)
        item.author = R.find(R.propEq('_id', item.authorId), this.authors);
      })

      replies.forEach((item) => {
        item.updateAtAge = dateFns.distanceInWordsToNow(item.updateAt);
        this.replies.push(item);
      });
    },
    onReply() {
      this.resetMessage();
      axios.post(dataPrefix + '/replies/',
        {
          postId: this.postId,
          content: this.content || ''
        })
        .then(this.parse)
        .then((result) => {
          this.content = '';
          let newReply = result.reply;
          newReply.htmlContent = marked(newReply.content);
          this.replies.push(newReply);
        })
        .catch(this.error)
    },
    onReplyReply(replyId, loginname) {
      let editorDialog = new EditorDialog();
      let atUser = '@' + loginname + ' ';
      editorDialog.init('回复' + atUser, atUser);
      editorDialog.show((editedContent) => {
        if (editedContent) {
          axios.post(dataPrefix + '/replies/',
            {
              postId: this.postId,
              replyId: replyId,
              content: editedContent
            })
            .then(this.parse)
            .then((result) => {
              let newReply = result.reply
              newReply.htmlContent = marked(newReply.content)
              this.replies.push(newReply)
            })
            .catch(this.error)
        }
      });
    },
    onEditReply(replyId, content) {
      let editorDialog = new EditorDialog();
      editorDialog.init('编辑', content);
      editorDialog.show((editedContent) => {
        if (editedContent) {
          axios.patch(dataPrefix + '/replies/' + replyId,
            {
              id: replyId,
              content: editedContent
            })
            .then(this.parse)
            .then((result) => {
              const idx = R.findIndex(R.propEq('_id', replyId))(this.replies);
              this.replies[idx].content = editedContent;
              this.replies[idx].htmlContent = marked(editedContent);
            })
            .catch(this.error)
        }
      });
    },
    onDeleteReply(replyId) {
      axios.delete(dataPrefix + '/replies/' + replyId)
        .then(this.parse)
        .then((result) => {
          const idx = R.findIndex(R.propEq('_id', replyId))(this.replies);
          Vue.delete(this.replies, idx);
        })
        .catch(this.error)
    },
    onUpReply(replyId) {
      axios.patch(dataPrefix + '/replies/' + replyId + '/up')
        .then(this.parse)
        .then((result) => {
          const idx = R.findIndex(R.propEq('_id', replyId))(this.replies);
          this.replies[idx].ups = result.ups;
        })
        .catch(this.error)
    },
    onCollectPost() {
      axios.patch(dataPrefix + '/posts/' + this.postId + '/collect')
        .then(() => {
          this.isCollect = true;
        })
        .catch(this.error)
    },
    onDelCollectPost() {
      axios.patch(dataPrefix + '/posts/' + this.postId + '/delCollect')
        .then(() => {
          this.isCollect = false;
        })
        .catch(this.error)
    },
    onLoadData() {
      this.getReplies(this.currentPage + 1);
    }
  }
  });

  lily.userId = userId;
  lily.postId = postId;
  lily.getReplies(lily.currentPage);
</script>